


  
  

  
  
  
  

  
  

  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  <div class="partial">
  
  <a href="/film/4k-film-markdown/" class="meta-item-link" aria-label="4K Film MarkDown" target="">
    <div class="poster poster-portrait">
      <s72-availability-label data-slug="/film/140"></s72-availability-label>
      <div class="poster-overlay poster-overlay-top">
        <s72-availability-status data-slug="/film/140"></s72-availability-status>
        
  
    <div class="meta-awards-icon-overlay">
      <i class="meta-award-nomination-icon"></i>
    </div>
  

      </div>

      <s72-image src="https://d1ho4360zp6ihx.cloudfront.net/954e2/images/282x422/film/140/index.jpg" alt="4K Film MarkDown" class="poster-image poster-image-portrait" border="0"></s72-image>
      
        <div class="hover">
          <div class="content">

            

            <div class="buttons">
              
                <s72-play-button data-slug="/film/140" title="4K Film MarkDown"></s72-play-button>
              

              
                <s72-pricing-buttons data-slug="/film/140" class="pricing-buttons-fit" title="4K Film MarkDown"></s72-pricing-buttons>
              

              
                <can-be-watched-button data-slug="/film/140" data-url="" data-label="can_be_watched_button_text"></can-be-watched-button>
              
            </div>
          </div>
          <s72-userwishlist-button data-slug="/film/140" class="btn-wishlist"></s72-userwishlist-button>
        </div>
      
    </div>
  </a>

  
    <div class="caption">
      <div class="title" title="4K Film MarkDown">4K Film MarkDown</div>
      
  <div class="meta-item-tagline">
    

    
    
      
        
      
    

    

    
      
  <span class="runtime">
    
    <span class="item">
        
          1h
        
        33m
      </span>
  </span>

      
    

    

    

    
      
      
  <span class="genres">
    
      <span class="divider">•</span>
    
    <span class="item">
        Action
      </span>
  </span>

      
    

    
      
  <span class="release-date">
    
      <span class="divider">•</span>
    
    <span class="item">
        2014
      </span>
  </span>

      
    
  </div>

    </div>
  

  
  </div>
  

